KMEANS_seq
cKMEANS_omp
KMEANS_mpi
KMEANS_cuda
test*.out
KMEANS_mpiomp
out/*
myOut/
cudaOut/
mySequentialOut
sequentialOut/
KMEANS_mpiompv2
MPIOpenMPOut
strongScaling
strongScaling2MPI
test_files/
weakScaling
moreCudaOut/
KMEANS_mpiompv2.c
KMEANS_cudav2.cu
KMEANS.c

*.zip
